<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleName</key>
		<string>5元</string>
		<key>priceName</key>
		<string>免费充电7天</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>10元</string>
		<key>priceName</key>
		<string>免费充电14天</string>
	</dict>
	<dict>
		<key>titleName</key>
		<string>20元</string>
		<key>priceName</key>
		<string>免费充电60天</string>
	</dict>
</array>
</plist>
