<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleLabel</key>
		<string>微信支付</string>
		<key>detailsLabel</key>
		<string>推荐微信用户使用</string>
		<key>imageName</key>
		<string>icon_wechat_payment</string>
	</dict>
	<dict>
		<key>titleLabel</key>
		<string>支付宝支付</string>
		<key>detailsLabel</key>
		<string></string>
		<key>imageName</key>
		<string>icon_alipay_payment</string>
	</dict>
</array>
</plist>
