<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>如何计费？</key>
	<array>
		<string>用户租电成功后开始计时，点击“停止充电”后停止计时，1元/小时，不足1小时按1小时计费。为防止用户完成充电并且离开后，没有手动点击“停止充电”按键，系统设定每次启动充电后，默认充电时长为1小时。</string>
	</array>
	<key>支持哪些接口类型进行充电？</key>
	<array>
		<string>充哈哈为您提供三种手机接口，分别支持Micro接口、Lightning接口和USB Type-C接口。</string>
	</array>
	<key>扫码点击“开始充电”按键后，提示充电设备离线，怎么办？</key>
	<array>
		<string>（1）若充电设备亮红灯或不亮灯，说明当前设备故障，请在APP、小程序中进行意见反馈或联系客服人员进行反馈。
（2）若充电设备亮蓝灯，代表仍然是待机状态，但无法连接到服务器，建议更换充电设备进行扫码充电。</string>
	</array>
	<key>充电过程中，发现充电线损坏或无法充电等异常情况时，怎么办？</key>
	<array>
		<string>充电过程中，发现充电线损坏或无法充电等情况，请立即归还充电线并联系客服人员(电话0757-86678686)进行反馈处理。</string>
	</array>
	<key>充电线怎么归还？</key>
	<array>
		<string>您可以在小程序或APP首页点击“停止充电”按键即可。</string>
	</array>
	<key>归还充电线时，“正在结束充电”提示框没有响应或归还失败？</key>
	<array>
		<string>（1）若“正在结束充电”时出现没有响应情况，可重新打开小程序或APP，查看是否还在计时，若还在计时，继续点击“停止充电”按键；反之，则证明已归还成功。
（2）若出现归还失败，请检查手机当前网络环境，确保
网络环境通畅后再重新尝试。如有疑问，请联系客服人
员（电话：0757-86678686）。</string>
	</array>
	<key>能否租借多条充电线？</key>
	<array>
		<string>暂时不支持同一用户同时借多条充电线。</string>
	</array>
</dict>
</plist>
